@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~tippy.js/dist/tippy.css';

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  backface-visibility: inherit;
  box-sizing: border-box;
}

.card {
  background: radial-gradient(
      120.05% 100% at 50% 0%,
      rgba(226, 232, 255, 0) 33.78%,
      rgba(226, 232, 255, 0.04) 100%
    ),
    rgba(226, 232, 255, 0.01);
  box-shadow: 0 -28px 84px -24px #005cf41f inset;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
